<h1>New Kid</h1>

<form action="/kids" method="POST">
  <label>Name</label>
<input type="text" name="kid[name]">
  </br>

  <label>Age</label>
<input type="text" name="kid[age]">
  </br>

<input type="submit" value="submit">
</form>

<!-- put form for making a new kid here -->
