<h1>New House Page</h1>

<form action="/houses" method="POST">
  <label>Address: </label>
<input type="text" name="house[address]">
<input type="submit" name="Submit">
</form>

<!-- house form goes here -->